.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    width: 100%;
    height: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: calc(330px - 20px*2);
    min-width: calc(330px - 20px*2);

    height: calc(100px - 20px*2);
    min-height: calc(100px - 20px*2);

    border-radius: 8px;
    border: solid 1px var(--border);

    padding: 20px;

    background-color: #FFF;
}

.card.red {
    border: solid 1px var(--border-red);
}

.card.red span {
    color: var(--red);
}

@media screen and (max-width: 767px) {
    .cards {
        justify-content: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }
}



.patientOverviewCard, .patientHeartCard {
    display: flex;
    flex-direction: column;

    width: 70%;

    height: calc(155px - 20px*2);
    min-height: calc(155px - 20px*2);;

    background-color: #FFF;

    border-radius: 8px;
    border: solid 1px var(--border);

    padding: 20px;
}

.patientOverviewCard > .top {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 50%;
}

.patientOverviewCard > .top > .identification {
    display: flex;
    gap: 10px;

    width: auto;
    height: 100%;
}

.patientOverviewCard > .top > .identification > .user {
    display: flex;

    width: 48px;
    min-width: 48px;

    height: 48px;
    min-height: 48px;

    background-color: var(--fourth);
    
    border-radius: 50%;
}

.patientOverviewCard > .top > .identification > .user > svg {
    width: 24px;
}

.patientOverviewCard > .top > .identification > .name {
    display: flex;
    flex-direction: column;

    justify-content: center;

    height: 48px;
}

.patientOverviewCard > .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 50%;
}

.patientOverviewCard > .bottom > .info {
    display: flex;
    flex-direction: column;

    gap: 3px;
}


.patientHeartCard {
    justify-content: space-between;
    width: 30%;
}

.patientHeartCard > .heart {
    display: flex;
    align-items: center;
    gap: 10px;
}

.patientHeartCard > .heart svg {
    color: var(--primary)
}


.patientHeartCard.red {
    border: solid 1px var(--border-red);
}

.patientHeartCard.red .heart svg {
    color: var(--red);
}

.patientHeartCard.yellow {
    border: solid 1px var(--border-yellow);
}

.patientHeartCard.yellow .heart svg {
    color: var(--yellow);
}

@media screen and (max-width: 850px) {
    .patientOverviewCards {
        flex-wrap: wrap;
    }

    .patientOverviewCard, .patientHeartCard {
        width: 100%;
    }
}


.patientEmergenciesTotal {
    flex-wrap: wrap;

    margin-top: 15px;
}

.patientEmergenciesTotal .card {
    flex: 1 1 calc(50% - 16px*2 - 10px);
    padding: 16px;
}


.emergenciesCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

    width: calc(100% - 16px*2);
    min-height: calc(100px - 16px*2);

    padding: 16px;

    border-radius: 8px;

    background-color: #FFF;
}

.emergenciesCard.red {
    border: solid 1px var(--border-red);
}

.emergenciesCard.red .icon {
    background-color: var(--red-bg);
    color: var(--red);
}

.emergenciesCard.yellow {
    border: solid 1px var(--border-yellow);
}

.emergenciesCard.yellow .icon {
    background-color: var(--yellow-bg);
    color: var(--yellow-dark);
}

.emergenciesCard .icon {
    width: 40px;
    min-width: 40px;

    height: 40px;
    min-height: 40px;

    border-radius: 6px;
}

.emergenciesCard .icon > svg {
    width: 20px;
    height: 20px;
}


@media screen and (max-width: 870px) {
    .emergenciesCard {
        flex-direction: column;
        align-items: flex-start;

        gap: 15px;
    }

    .emergenciesCard > .left {
        width: 100%;
        flex-direction: column !important;
        align-items: flex-start !important;
    }

    .emergenciesCard > .right {
        width: 100%;
        flex-direction: column !important;
    }

    .emergenciesCard > .right button {
        justify-content: center;
        width: 100%;
    }
}